.navbar {
    /* lebar penuh */
    width: 100%;
    /* padding adalah jarak antara konten dengan border */
    /* 20px: Padding atas dan bawah elemen (top dan bottom) adalah 20 piksel. */
    /* 6%: Padding kiri dan kanan  */
    padding: 20px 6%;
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* `justify-content: space-between;` mengatur item di dalam kontainer flex sehingga item pertama berada di ujung kiri dan item terakhir di ujung kanan, dengan jarak yang sama di antara semua item. Ruang kosong dibagi di antara item-item, tanpa ada ruang di awal dan akhir kontainer. */
    justify-content: space-between;
    /* ukuran font */
    font-size: 14px;
    /* warna */
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    /* Bayangkan halaman web itu seperti tumpukan kartu. z-index mengatur di lapisan mana kartu itu diletakkan. Semakin besar nilai z-index, semakin "atas" posisi elemen tersebut. */
    z-index: 1;
}

.navbar-left {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* Jika kita menggunakan align-items: center;, semua mainan itu akan berada di tengah kotak, tidak terlalu ke atas dan tidak terlalu ke bawah. Mereka akan terlihat rapi dan seimbang. */
    align-items: center;
    /* jarak antar element secara horizontal */
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* hilangkan gaya daftar nya */
    list-style: none;
    /* jarak antar element secara horizontal */
    gap: 20px;
}

.navbar-right {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* jarak antar element secara horizontal */
    gap: 20px;
    /* elemen akan sejajar ke tengah secara horizontal */
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    /* agar ketika icons di hover maka akan kursor akan menjadi pointer */
    cursor: pointer;
}

.navbar-right .profile {
    /* radius melengkung */
    border-radius: 4px;
    width: 35px;
}

.navbar-profile {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* elemen akan sejajar ke tengah secara horizontal */
    align-items: center;
    /* jarak antar element secara horizontal */
    gap: 10px;
    cursor: pointer;
}