.navbar {
    /* lebar penuh */
    width: 100%;
    /* padding adalah jarak antara konten dengan border */
    /* 20px: Padding atas dan bawah elemen (top dan bottom) adalah 20 piksel. */
    /* 6%: Padding kiri dan kanan  */
    padding: 20px 6%;
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* `justify-content: space-between;` mengatur item di dalam kontainer flex sehingga item pertama berada di ujung kiri dan item terakhir di ujung kanan, dengan jarak yang sama di antara semua item. Ruang kosong dibagi di antara item-item, tanpa ada ruang di awal dan akhir kontainer. */
    justify-content: space-between;
    /* ukuran font */
    font-size: 14px;
    /* warna */
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    /* Bayangkan halaman web itu seperti tumpukan kartu. z-index mengatur di lapisan mana kartu itu diletakkan. Semakin besar nilai z-index, semakin "atas" posisi elemen tersebut. */
    z-index: 1;
}

.navbar-left {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* Jika kita menggunakan align-items: center;, semua mainan itu akan berada di tengah kotak, tidak terlalu ke atas dan tidak terlalu ke bawah. Mereka akan terlihat rapi dan seimbang. */
    align-items: center;
    /* jarak antar element secara horizontal */
    gap: 50px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* hilangkan gaya daftar nya */
    list-style: none;
    /* jarak antar element secara horizontal */
    gap: 20px;
}

.navbar-right {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* jarak antar element secara horizontal */
    gap: 20px;
    /* elemen akan sejajar ke tengah secara horizontal */
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    /* agar ketika icons di hover maka akan kursor akan menjadi pointer */
    cursor: pointer;
}

.navbar-right .profile {
    /* radius melengkung */
    border-radius: 4px;
    width: 35px;
}

.navbar-profile {
    /* display flex secara otomatis membuat element sejajar secara horizontal dan vertikal */
    display: flex;
    /* elemen akan sejajar ke tengah secara horizontal */
    align-items: center;
    /* jarak antar element secara horizontal */
    gap: 10px;
    cursor: pointer;
    /* element induk */
    /* `position: relative;` dalam CSS digunakan untuk mengatur posisi elemen berdasarkan posisinya yang normal dalam aliran dokumen, memungkinkan elemen tersebut untuk digeser dari lokasi aslinya menggunakan properti `top`, `right`, `bottom`, dan `left`. Elemen yang diposisikan secara relatif tetap mempengaruhi tata letak elemen lain di sekitarnya, sehingga ruang yang ditempatinya tetap ada. Selain itu, elemen dengan `position: relative;` dapat menjadi referensi bagi elemen anak yang diposisikan secara absolut, sehingga memudahkan dalam menciptakan tata letak yang lebih kompleks. */
    position: relative;
}

.navbar .dropdown {
    /* anak dari induk .navbar-profile yg position nya relative */
    /* position: absolute; dalam CSS digunakan untuk menempatkan elemen di lokasi tertentu dalam halaman web, relatif terhadap elemen induk terdekat yang memiliki posisi selain static. Elemen yang diposisikan secara absolut tidak mempengaruhi posisi elemen lain di sekitarnya, sehingga memungkinkan tata letak yang lebih fleksibel. Anda dapat mengatur jarak elemen dari tepi atas, bawah, kiri, atau kanan menggunakan properti seperti top, left, right, dan bottom, sehingga memudahkan dalam menciptakan desain yang diinginkan. */
    position: absolute;
    /* Memposisikan dropdown tepat di bawah elemen navbar */
    top: 100%;
    /* Menempatkan dropdown di sisi kanan elemen navbar */
    right: 0;
    /* Mengatur lebar dropdown sesuai dengan konten terlebar di dalamnya */
    width: max-content;
    /* warna latar belakang */
    background: #191919;
    /* nilai pertama adalah atas bawah, nilai kedua adalah kiri dan kanan */
    padding: 18px 22px;
    /* sudut lengkung di keempat sisi */
    border-radius: 2px;
    /* dekorasi text: garis bawah */
    text-decoration: underline;
    /* semakin tinggi nilai nya maka semakin depan */
    z-index: 1;
    /* secara bawaan tampilannya itu tidak ada */
    display: none;
}

.navbar .dropdown p {
    /* ukuran font */
    font-size: 13px;
    /* kursor jadi tangan telunjuk */
    cursor: pointer;
}

.navbar-profile:hover .dropdown {
    /* menampilkan dropdown dan memulai baris baru dan dapat memiliki lebar dan tinggi yang ditentukan, serta mengisi lebar penuh dari kontainer induknya. */
    display: block;
}